{{define "downloads_table"}}
{{- printf "%-8s %-35s %-50.50s %-10.10s %12.12s %15.15s %15.15s\n" "ID" "URL" "DEST" "STATUS" "SPEED" "DOWNLOADED" "EXPECTED"}}
{{- printf "%s\n" "-------------------------------------------------------------------------------------------------------------------------------------------------------"}}
{{- range .}}
{{- printf "%-8.8s %-35.35s %-50.50s %-10.10s %12.12s %15.15s %15.15s\n"
    .Id
    .Url
    (formatPath .Destination 3 50)
    .Status
    (formatSpeed .)
    (formatBytes .BytesDownloaded)
    (formatExpected .ExpectedSize)
-}}
{{end}}
{{end}}

{{define "download_detail"}}
ID:           {{.Id}}
URL:          {{.Url}}
Destination:  {{.Destination}}
Status:       {{.Status}}

Speed:        {{formatSpeed .}}
Downloaded:   {{formatBytes .BytesDownloaded}}
Expected:     {{formatExpected .ExpectedSize}}
Total:        {{formatExpected .TotalSize}}

Requested:    {{.RequestedTime}}
Started:      {{.StartTime}}
Finished:     {{.EndTime}}

{{if .Cause}}
Error:        {{.Cause}}
{{end}}
{{end}}